<header>
    <div class="header-content">
        <div class="header-icon">
            <img src="../../assets/img/Logo_CompuTrabajo.png" alt="Foto de header" width="300" height="100">
        </div>
        <div class="header-info">
            <div class="header-buttons">
                <button (click)="dashboard()"><i class="fa-brands fa-microsoft" style="color: #47bf73; font-size: 20px;"></i>  Inicio</button>
                <button (click)="user()"><i class="fa-solid fa-user" style="color: #47bf73; font-size: 20px;"></i>  Mi Perfil</button>
                <button (click)="offer()"><i class="fa-solid fa-handshake-angle" style="color: #47bf73; font-size: 20px;"></i>  Ofertas</button>
                <button (click)="logout()"><i class="fa-solid fa-door-open" style="color: #47bf73; font-size: 20px;"></i>  Salir</button>
            </div>
        </div>
    </div>
</header>
