<app-header></app-header>
<div class="content-cards">
    <div class="card1">
        <img src="../../assets/img/Teleperformance.png" alt="Empresa 1" width="300" height="150">
        <button (click)="postular1()">Postulate Ya!!</button>
    </div>
    <div class="card2">
        <img src="../../assets/img/Comdata.jpg" alt="Empresa 2" width="300" height="150">
        <button (click)="postular2()">Postulate Ya!!</button>
    </div>
    <div class="card3">
        <img src="../../assets/img/Unisono.jpg" alt="Empresa 3" width="300" height="150">
        <button (click)="postular3()">Postulate Ya!!</button>
    </div>
    <div class="card4">
        <img src="../../assets/img/Grupo-konecta.jpg" alt="Empresa 4" width="300" height="150">
        <button (click)="postular4()">Postulate Ya!!</button>
    </div>
</div>
<app-footer></app-footer>