<app-header></app-header>
<div clas="content">
    <div class="sans">
        <p> ░░░░░▄▄▄▄▄▄▄▄▄▄▄▄▄░░░░░
            <br>
            ░░░░█░░░░░░░░░░░░░█░░░░
            <br>
            ░░░█░░░░░░░░░░▄▄▄░░█░░░
            <br>
            ░░░█░░▄▄▄░░▄░░███░░█░░░
            <br>
            ░░░▄█░▄░░░▀▀▀░░░▄░█▄░░░
            <br>
            ░░░█░░▀█▀█▀█▀█▀█▀░░█░░░
            <br>
            ░░░▄██▄▄▀▀▀▀▀▀▀▄▄██▄░░░
            <br>
            ░▄█░█▀▀█▀▀▀█▀▀▀█▀▀█░█▄░
            <br>
            ▄▀░▄▄▀▄▄▀▀▀▄▀▀▀▄▄▀▄▄░▀▄
            <br>
            █░░░░▀▄░█▄░░░▄█░▄▀░░░░█
            <br>
            ░▀▄▄░█░░█▄▄▄▄▄█░░█░▄▄▀░
            <br>
            ░░░▀██▄▄███████▄▄██▀░░░
            <br>
            ░░░████████▀████████░░░
            <br>
            ░░▄▄█▀▀▀▀█░░░█▀▀▀▀█▄▄░░
            <br>
            ░░▀▄▄▄▄▄▀▀░░░▀▀▄▄▄▄▄▀░░ </p>
            <h1>Do you wanna have a Bad Time?</h1>
    </div>
    <ul class="slider-frame">
        <li><img src="../../assets/img/vista1.jpg" alt="Vista1"></li>
        <li><img src="../../assets/img/vista2.png" alt="Vista2"></li>
        <li><img src="../../assets/img/vista3.jpeg" alt="Vista3"></li>
        <li><img src="../../assets/img/vista4.jpg" alt="Vista4"></li>
        <li><img src="../../assets/img/vista5.jpg" alt="Vista5"></li>
        <li><img src="../../assets/img/vista6.jpg" alt="Vista5"></li>
    </ul>
</div>
<app-footer></app-footer>